.containeritems {
  text-align: center;
  max-width: 1200px;
  margin: 2rem auto;
}
.titulo {
  font-size: 1.8rem;
  padding: 10px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #ffffff;
  background-color: #5e19ae;
  border-radius: 10px;
}
